<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>img/favicon.png">
    <title>PostgreSQL Cloud Console</title>
  </head>
  <body class="h-100">
    <noscript>
      <strong>We're sorry but Cornac Console doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script type="text/javascript">
      // var endpoint = "https://prod.cornac.company.lan/";
    </script>
    <!-- built files will be auto injected -->
  </body>
</html>
