<template>
  <div>
    <dl>
      <dt>Alias</dt>
      <dd>
      {{ account.AccountAlias }}
      </dd>
    </dl>
    <b>Users</b>
    <ul class="list-group mt-2">
      <li class="list-group-item d-flex align-items-center" v-for="user in groupUsers">
        <span class="fa fa-check"></span>&nbsp;
        {{ user.UserName }}
        <button class="btn btn-link btn-sm ml-auto" title="Remove from group" @click="removeFromGroup(user)">
          <span class="fa fa-minus"></span>
        </button>
      </li>
      <li class="list-group-item text-center" v-if="!groupUsers.length">
        <em class="text-muted">
          There's no user in this account
        </em>
      </li>
    </ul>
    <ul class="list-group mt-2">
      <li class="list-group-item d-flex align-items-center text-muted" v-for="user in users" v-if="groupUserIds.indexOf(user.UserId) == -1">
        {{ user.UserName }}
        <button class="btn btn-link btn-sm ml-auto" title="Add to group" @click="addToGroup(user)">
          <span class="fa fa-plus"></span>
        </button>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { cornacEndpoint } from '@/App.vue';
import { IAM } from 'aws-sdk';
import { IUser } from '@/interfaces';
import axios from 'axios';
import * as _ from 'lodash';

@Component
export default class Account extends Vue {
  private account: any = {};
  private users: IUser[] = [];
  private groupUsers: IUser[] = [];

  private created() {
    this.fetchAccount();
  }

  private fetchAccount() {
    axios.get(cornacEndpoint + '/accounts/' + this.$route.params.id, {
      headers: {'X-Amz-Security-Token': this.$store.state.sessionToken},
    })
      .then((response) => {
        this.account = response.data.account;
        this.fetchUsers();
      })
      .catch((error) => {
        if (error.statusCode === 403) {
          this.$store.commit('logout');
          this.$router.push('/login');
        }
      });
  }

  private fetchUsers() {
    const iam = new IAM();
    const allUsersPromise = iam.listUsers({}).promise();
    const groupUsersPromise = iam.getGroup({GroupName: this.account.AdminGroupName}).promise();

    Promise.all([groupUsersPromise, allUsersPromise])
      .then((values) => {
        this.groupUsers = _.sortBy(values[0].Users, (o) => o.UserName);
        this.users = _.sortBy(values[1].Users, (o) => o.UserName);
      }, (err: any) => {
        this.$notify({
          title: 'Error',
          text: 'There was an error getting users for the group: ' + err.message,
          type: 'error',
        });
      });
  }

  private get groupUserIds() {
    return _.map(this.groupUsers, (user) => user.UserId);
  }

  private addToGroup(user: IUser) {
    const iam = new IAM();
    iam.addUserToGroup(
      {
        UserName: user.UserName,
        GroupName: this.account.AdminGroupName,
      },
      (err, data: any) => {
        if (!err) {
          this.$notify({
            title: 'Success',
            text: 'User added to group ' + this.account.AdminGroupName,
            type: 'success',
          });
        }
        this.fetchUsers();
      },
    );
  }

  private removeFromGroup(user: IUser) {
    const iam = new IAM();
    iam.removeUserFromGroup(
      {
        UserName: user.UserName,
        GroupName: this.account.AdminGroupName,
      },
      (err, data: any) => {
        if (!err) {
          this.$notify({
            title: 'Success',
            text: 'User removed from group ' + this.account.AdminGroupName,
            type: 'success',
          });
        }
        // reset select
        this.fetchUsers();
      },
    );
  }
}
</script>
