<template>
  <div>
    <div class="row">
      <div class="col">
        <router-link :to="{ name: 'account_new'}" class="btn btn-primary">
          Create account
        </router-link>
      </div>
    </div>
    <ul class="list-group mt-2">
      <li class="list-group-item d-flex align-items-center" v-for="account in accounts">
        <div class="float-left">
          <router-link :to="{ name: 'account', params: { id: account.AccountId }}" class="text-dark">
              <b>{{ account.AccountAlias }}</b>
          </router-link>
          <small class="text-muted">
            {{ account.AccountId }}
          </small>
        </div>
        <button class="btn btn-danger btn-sm ml-auto" @click="deleteAccount(account)" v-if="canDelete(account)">Delete</button>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { cornacEndpoint } from '@/App.vue';
import axios from 'axios';

@Component
export default class AccountsHome extends Vue {
  private accounts: any[] = [];

  private created() {
    this.fetchAccounts();
  }

  private fetchAccounts() {
    axios.get(cornacEndpoint + '/accounts', {
      headers: this.$store.getters.cornacHeaders,
    })
      .then((response) => {
        this.accounts = response.data.accounts;
        this.$store.commit('accounts', this.accounts);
      })
      .catch((error) => {
        if (error.statusCode === 403) {
          this.$store.commit('logout');
          this.$router.push('/login');
        }
        this.$notify({
          title: 'Error',
          text: 'There was an error listing accounts: ' + error.message,
          type: 'error',
        });
      });
  }

  private deleteAccount(account: any) {
    if (window.confirm('Are you sure?')) {
      axios.delete(cornacEndpoint + '/accounts/' + account.AccountId, {
        headers: this.$store.getters.cornacHeaders})
        .then((response) => {
          this.fetchAccounts();
        })
        .catch((error) => {
          if (error.statusCode === 403) {
            this.$store.commit('logout');
            this.$router.push('/login');
          }
        });
    }
  }

  private canDelete(account: any): boolean {
    // Account with are all accounts except root account
    return account.AdminRoleArn;
  }
}

</script>
