<template>
  <div>
    <h3>Create Account</h3>
    <form @submit.prevent="createAccount">
      <div class="form-group">
        <label for="AccountAliasInput">Account alias</label>
        <input type="text" class="form-control col-sm-6" id="AccountAliasInput" v-model="alias">
      </div>
      <div v-if="createAccountError" class="alert alert-danger">
        {{ createAccountError }}
      </div>
      <button type="submit" class="btn btn-primary" :disabled="!canSubmit">Submit</button>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { cornacEndpoint } from '@/App.vue';
import * as _ from 'lodash';
import axios from 'axios';

@Component
export default class AccountNew extends Vue {

  private alias: string = '';

  private createAccountError: string = '';

  private createAccount() {
    axios.post(cornacEndpoint + '/accounts', {
      Alias: this.alias,
    }, {headers: this.$store.getters.cornacHeaders})
      .then((response) => {
        this.$notify({
          title: 'Success',
          text: 'The account has been correctly created',
          type: 'success',
        });
        const accounts = this.$store.state.accounts;
        accounts.push(response.data.account);
        this.$store.commit('accounts', accounts);
        this.$router.push('/accounts/' + response.data.account.AccountId);
      })
      .catch((error) => {
        this.createAccountError = error.message;
      });
  }

  private get canSubmit() {
    return this.alias !== '';
  }
}
</script>
