<template>
  <ul class="nav flex-column bd-sidenav">
    <router-link
      to="/users"
      v-slot="{href, navigate, isActive}"
    >
      <li
        :class="[ isActive && 'active', 'nav-item' ]"
      >
        <a
          :href="href"
          @click="navigate"
          class="d-flex justify-content-between align-items-center"
        >
          Users
        </a>
      </li>
    </router-link>
    <router-link
      to="/accounts"
      v-slot="{href, navigate, isActive}"
    >
      <li
        :class="[ isActive && 'active', 'nav-item' ]"
      >
        <a
          :href="href"
          @click="navigate"
          class="d-flex justify-content-between align-items-center"
        >
          Accounts
        </a>
      </li>
    </router-link>
    <router-link
      to="/virtualips"
      v-slot="{href, navigate, isActive}"
    >
      <li
        :class="[ isActive && 'active', 'nav-item' ]"
      >
        <a
          :href="href"
          @click="navigate"
          class="d-flex justify-content-between align-items-center"
        >
          Virtual IPs
        </a>
      </li>
    </router-link>
  </ul>
</template>

<script lang="ts">
import { awsOnly } from '@/App.vue';
import { Vue } from 'vue-property-decorator';

export default class AdministrationMenu extends Vue {
  private awsOnly: boolean = awsOnly;
}
</script>

