<template>
  <div>
    <div class="card shadow mt-3">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <span :class="'fa status status-' + backup.Status" :title="backup.Status"></span>
            <b>{{ backup.DBSnapshotIdentifier }}</b>
            <span class="border rounded px-2" v-if="backup.SnapshotType !== 'manual'">
              {{ backup.SnapshotType }}
            </span>
            <small v-if="backup.Status != 'available'">
              <em :class="'status-text status-' + backup.Status">
              {{ backup.Status }}
              </em>
            </small>
          </div>
          <div class="col ml-auto text-right">
            <div class="btn-group btn-group-sm">
              <button
                class="btn btn-outline-secondary"
                v-if="canDelete"
                @click.prevent="delete_"
                title="Delete"
              >
                <i class="fa fa-trash-alt"></i>
              </button>
            </div>
            <button class="btn btn-outline-secondary btn-sm" type="button" id="dropdownActionsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v fa-fw"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActionsButton">
              <a class="dropdown-item" href data-toggle="modal" data-target="#restoreBackupModal">Restore Backup</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body" v-if="!loading">
        <div class="row">
          <div class="col-6">
            <span class="text-muted">
              Created
            </span>
            <timeago :datetime="backup.SnapshotCreateTime" :title="backup.SnapshotCreateTime.toString()" v-if="backup.SnapshotCreateTime"></timeago>
            <span v-else>N/A</span>
          </div>
        </div>
        <hr>
        <b>Instance parameters</b>
        <div class="row ml-2">
          <div class="col-sm-3 text-muted">
            Instance Name
          </div>
          <div class="col-sm-9" v-if="instance">
            <router-link :to="{ name: 'instance', params: { id: instance.DBInstanceIdentifier }}" class="text-dark">
              <b>
                {{ backup.DBInstanceIdentifier }}
              </b>
            </router-link>
          </div>
          <div class="col-sm-9" v-else>
            <span class="px-1 bg-light text-muted" title="Instance has been deleted">
              {{ backup.DBInstanceIdentifier }}
            </span>
          </div>
          <div class="col-sm-3 text-muted">
            Engine
          </div>
          <div class="col-sm-9">
            {{ backup.Engine }}
            {{ backup.EngineVersion }}
          </div>
          <template v-if="instance">
            <div class="col-sm-3 text-muted">
              Instance Class
            </div>
            <div class="col-sm-9">
              {{ instance.DBInstanceClass }}
            </div>
          </template>
          <div class="col-sm-3 text-muted">
            Port
          </div>
          <div class="col-sm-9">
            {{ backup.Port }}
          </div>
          <div class="col-sm-3 text-muted">
            Allocated Storage
          </div>
          <div class="col-sm-9">
            {{ backup.AllocatedStorage }}&nbsp;GiB
          </div>
          <div class="col-sm-3 text-muted">
            Username
          </div>
          <div class="col-sm-9">
            {{ backup.MasterUsername }}
          </div>
          <div class="col-sm-3 text-muted">
            Created
          </div>
          <div class="col-sm-9">
            <timeago :datetime="backup.InstanceCreateTime" :title="backup.InstanceCreateTime.toString()" v-if="backup.InstanceCreateTime"></timeago>
          </div>
        </div>
      </div>
      <loading-ellipsis v-else></loading-ellipsis>
    </div>
    <!-- Restore Backup Modal -->
    <div class="modal fade" id="restoreBackupModal" tabindex="-1" role="dialog" aria-labelledby="restoreBackupModalLabel" aria-hidden="true" ref="restoreBackupModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form @submit.prevent="restoreBackup">
            <div class="modal-header">
              <h5 class="modal-title" id="restoreBackupModalLabel">Restore DB Instance From Backup</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="DBInstanceIdentifierInput">Instance name</label>
                <small class="form-text text-muted">
                  The Identifier for the DB Instance.
                </small>
                <input type="text" class="form-control" id="instanceIdentifierInput" v-model="instanceIdentifier">
                <small class="form-text text-danger" v-if="instanceIdentifierError">
                  {{ instanceIdentifierError }}
                </small>
              </div>
              <div v-if="restoreBackupError" class="alert alert-danger">
                {{ restoreBackupError }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-danger" :disabled="!canRestoreBackup">Restore DB Instance</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { RDS } from 'aws-sdk';
import { IInstance } from '@/interfaces';

interface IBackup {
  DBInstanceIdentifier: string;
  DBSnapshotIdentifier: string;
  Status: string;
  SnapshotCreateTime: string;
  SnapshotType: string;
}

@Component
export default class Backup extends Vue {
  private backup: IBackup = {
    DBSnapshotIdentifier: '',
    DBInstanceIdentifier: '',
    Status: '',
    SnapshotCreateTime: '',
    SnapshotType: '',
  };
  private instance: IInstance | null = null;
  private timer!: number;
  private loading: boolean = true;
  // pending request
  private request: any | null = null;
  private instanceIdentifier: string = '';
  private instanceIdentifierError: string = '';
  private restoreBackupError: string = '';

  private created() {
    this.fetchBackup();
  }

  private beforeDestroy() {
    if (this.request) {
      this.request.abort();
    }
    clearInterval(this.timer);
  }

  private fetchBackup() {
    if (this.request) {
      this.request.abort();
    }
    clearInterval(this.timer);

    const rds = this.$store.getters.rds;
    this.request = rds.describeDBSnapshots({DBSnapshotIdentifier: this.$route.params.id});
    const promise = this.request.promise();
    promise.then(
      (data: any) => {
        this.loading = false;
        this.backup = data.DBSnapshots[0];
        this.timer = window.setInterval(this.fetchBackup, 10000);
        this.fetchInstance();
      },
      (err: any) => {
        if (err.statusCode === 403) {
          this.$store.commit('logout');
          this.$router.push('/login');
        } else {
          this.$router.push('/backups');
          this.$notify({
            title: 'Error',
            text: 'There was an error getting info for backup: ' + err.message,
            type: 'error',
          });
          return;
        }
      });
  }

  private fetchInstance() {
    const rds: RDS = this.$store.getters.rds;
    rds.describeDBInstances(
      {
        DBInstanceIdentifier: this.backup.DBInstanceIdentifier,
      },
      (err, data: any) => {
        if (!err) {
          this.instance = data.DBInstances[0];
        }
      },
    );
  }

  private delete_() {
    if (window.confirm('Are you sure you want to delete this backup?')) {
      const rds: RDS = this.$store.getters.rds;
      rds.deleteDBSnapshot(
        {
          DBSnapshotIdentifier: this.backup.DBSnapshotIdentifier,
        },
        (err, data: any) => {
          if (err) {
            this.$notify({
              title: 'Error',
              text: err.message,
              type: 'error',
            });
          } else {
            this.$router.push('/backups');
          }
        },
      );
    }
  }

  private get canDelete() {
    return (this.backup.Status === 'available' || this.backup.Status === 'failed')
      && this.backup.SnapshotType !== 'automated';
  }

  @Watch('instanceIdentifier')
  private validateRestoreForm() {
    if (!this.instanceIdentifier.match(/^[a-zA-Z]/gm)) {
      this.instanceIdentifierError = 'Must start with a letter';
    } else if (!this.instanceIdentifier.match(/^[a-zA-Z0-9|\-]*$/gm)) {
      this.instanceIdentifierError = 'Must contain only letters, digits, or hyphens';
    } else {
      this.instanceIdentifierError = '';
    }
  }

  private restoreBackup() {
    const rds: RDS = this.$store.getters.rds;
    this.restoreBackupError = '';
    rds.restoreDBInstanceFromDBSnapshot({
        DBInstanceIdentifier: this.instanceIdentifier,
        DBSnapshotIdentifier: this.backup.DBSnapshotIdentifier,
      },
      (err, data: any) => {
        if (err) {
          this.restoreBackupError = err.message;
        } else {
          $(this.$refs.restoreBackupModal).modal('hide');
          this.$router.push('/instances');
        }
      },
    );
  }

  private get canRestoreBackup() {
    return this.instanceIdentifier !== '' && this.instanceIdentifierError === '';
  }
}
</script>
