<template>
  <div>
    <backups-list></backups-list>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import BackupsList from '@/components/BackupsList.vue';

@Component({
  components: {
    BackupsList,
  },
})
export default class BackupsHome extends Vue {}

</script>
