<template>
  <ul class="nav flex-column bd-sidenav">
    <router-link
      to="/instances"
      v-slot="{href, navigate, isActive}"
    >
      <li
        :class="[ isActive && 'active', 'nav-item' ]"
      >
        <a
          :href="href"
          @click="navigate"
          class="d-flex justify-content-between align-items-center"
        >
          Instances
          <transition name="fade">
          <span class="badge badge-secondary badge-pill" v-if="instances">{{ instances.length }}</span>
          </transition>
        </a>
      </li>
    </router-link>
    <router-link
      to="/backups"
      v-slot="{href, navigate, isActive}"
    >
      <li
        :class="[ isActive && 'active', 'nav-item' ]"
      >
        <a
          :href="href"
          @click="navigate"
          class="d-flex justify-content-between align-items-center"
        >
          Backups
          <transition name="fade">
          <span class="badge badge-secondary badge-pill" v-if="backups">{{ backups.length }}</span>
          </transition>
        </a>
      </li>
    </router-link>
  </ul>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { mapState } from 'vuex';

@Component({
  computed: {
    ...mapState(['instances', 'backups']),
  },
})
export default class DatabasesMenu extends Vue {
}
</script>

