<template>
  <router-view></router-view>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { IAccount } from '@/interfaces';
import { mapState } from 'vuex';
import { awsOnly } from '@/App.vue';


@Component({
  computed: {
    ...mapState(['currentAccount']),
  },
})
export default class Databases extends Vue {
  private currentAccount!: IAccount;

  // Fetch instances and backups on creation and also when account changes
  private created() {
    if (!awsOnly) {
      this.$store.dispatch('fetchAccounts');
    } else {
      this.loadData();
    }
  }

  @Watch('currentAccount')
  private loadData() {
    if (!this.currentAccount.AccountId) {
      return;
    }
    this.$store.commit('setInstances', null);
    this.$store.commit('setBackups', null);
    this.$store.dispatch('fetchInstances');
    this.$store.dispatch('fetchBackups');

    if (this.$router.currentRoute.path !== '/instances') {
      this.$router.push('/instances');
    }
  }
}
</script>
