<template>
  <nav class="navbar navbar-expand px-0">
    <span class="navbar-brand">Databases</span>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="btn btn-light border dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ currentAccount.AccountAlias }}
        </a>
        <div class="dropdown-menu" aria-labelledby="accountDropdownLink">
          <a v-for="account in accounts" class="dropdown-item" :class="{ 'active' : account == currentAccount }" href v-on:click.prevent="switchAccount(account)">
            {{ account.AccountAlias }}
          </a>
        </div>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { mapGetters, mapState } from 'vuex';
import { IAccount } from '@/interfaces';
import { awsOnly, cornacEndpoint } from '@/App.vue';
import axios from 'axios';

@Component({
  computed: {
    ...mapGetters(['isLoggedIn', 'isAdmin']),
    ...mapState(['currentAccount', 'accounts']),
  },
})
export default class DatabasesMenu extends Vue {
  private currentAccount!: IAccount;

  private switchAccount(account: IAccount) {
    this.$store.dispatch('switchAccount', account);
  }
}
</script>
