<template>
  <div>
    <div class="card shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <span :class="'fa status status-' + instance.DBInstanceStatus" :title="instance.DBInstanceStatus"></span>
            <b>{{ instance.DBInstanceIdentifier }}</b>
            <small v-if="instance.DBInstanceStatus != 'available'">
              <em :class="'status-text status-' + instance.DBInstanceStatus">
              {{ instance.DBInstanceStatus }}
              </em>
            </small>
          </div>
          <div class="col ml-auto text-right">
            <temboard-button
              v-if="hasTemboard()"
              :instance="instance"
              class="mr-3"
            ></temboard-button>
            <div class="btn-group btn-group-sm">
              <button
                class="btn btn-outline-secondary"
                v-if="canStop"
                @click.prevent="stop"
                title="Stop"
              >
                <i class="fa fa-power-off fa-fw"></i>
              </button>
              <button
                class="btn btn-outline-secondary"
                v-if="canStart"
                @click.prevent="start"
                title="Start"
              >
                <i class="fa fa-play fa-fw"></i>
              </button>
              <a
                :class="['btn btn-outline-secondary', {disabled: !canReboot}]"
                href
                @click.prevent="reboot"
                title="reboot"
              >
                <i class="fa fa-redo fa-fw"></i>
              </a>
              <a
                :class="['btn btn-outline-secondary', {disabled: !canCreateBackup}]"
                href data-toggle="modal"
                data-target="#createBackupModal"
                title="Create backup"
              >
                <i class="fa fa-save fa-fw"></i>
              </a>
            </div>
            <button class="btn btn-outline-secondary btn-sm ml-2" type="button" id="dropdownActionsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v fa-fw"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActionsButton">
              <a :class="['dropdown-item', {disabled: !canRestoreToPointInTime}]" href data-toggle="modal" data-target="#restoreToPointInTimeModal">
                <i class="fa fa-history fa-fw"></i>
                Restore to point in time
              </a>
              <a :class="['dropdown-item text-danger', {disabled: !canDelete}]" href data-toggle="modal" data-target="#deleteModal">
                <i class="fa fa-trash-alt fa-fw"></i>
                Delete
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body" v-if="!loading">
        <div class="row">
          <div class="col-7">
            <div class="row">
              <div class="col-sm-5 text-muted">
                Engine
              </div>
              <div class="col-sm-7">
                {{ instance.Engine }}
                {{ instance.EngineVersion }}
              </div>
              <div class="col-sm-5 text-muted">
                Instance Class
              </div>
              <div class="col-sm-7">
                {{ instance.DBInstanceClass }}
              </div>
              <div class="col-sm-5 text-muted">
                Allocated Storage
              </div>
              <div class="col-sm-7">
                {{ instance.AllocatedStorage }}&nbsp;GiB
              </div>
              <div class="col-sm-5 text-muted">
                Availability Zone
              </div>
              <div class="col-sm-7">
                <span
                  class="badge badge-secondary"
                  v-if="instance.AvailabilityZone"
                >
                  {{ instance.AvailabilityZone }}
                </span>
                <span
                  class="small"
                  v-if="instance.MultiAZ"
                >
                  High-availability enabled
                  <i class="fa fa-check"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-5">
            <span class="text-muted">
              Created
            </span>
            <timeago :datetime="instance.InstanceCreateTime" :title="instance.InstanceCreateTime.toString()" v-if="instance.InstanceCreateTime"></timeago>
            <span v-else>N/A</span>
            <br>
            <span class="text-muted" title="Deletion protection enabled" v-if="!instance.DeletionProtection">
              <i class="text-muted fa fa-lock-open"></i>
              Not protected
            </span>
            <span class="text-muted" title="Deletion protection enabled" v-else>
              <i class="fa fa-lock"></i>
              Protected
            </span>
          </div>
        </div>
        <hr>
        <div class="row small" v-if="instance.Endpoint">
          <div class="col-6">
            <div class="row">
              <div class="col-sm-3 text-muted">
                Address
              </div>
              <div class="col-sm-9">
              {{ instance.Endpoint.Address }}:{{ instance.Endpoint.Port }}
              </div>
              <div class="col-sm-3 text-muted">
                User
              </div>
              <div class="col-sm-9">
              {{ instance.MasterUsername }}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div v-if="instance.Endpoint">
              <button type="button"
                      v-clipboard:copy="psqlCmd"
                      class="btn btn-link btn-sm float-right"
                      title="Copy to clipboard">
                <small>
                  Copy
                </small>
              </button>
              <div class="bg-light p-2">
                <code>
                  <pre class="m-0 text-truncate" :title="psqlCmd">{{ psqlCmd }}</pre>
                </code>
              </div>
            </div>
          </div>
        </div>
      </div>
      <loading-ellipsis v-else></loading-ellipsis>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" ref="deleteModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form @submit.prevent="delete_">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete {{ instance.DBInstanceIdentifier }} instance?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div v-if="shouldAskForFinalBackup">
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="createFinalBackupCheck" v-model="createFinalBackup">
                  <label class="form-check-label" for="createFinalBackupCheck">Create final backup?</label>
                  <small class="form-text text-muted">
                    Determines whether a final DB Backup is created before the DB instance is deleted.
                  </small>
                </div>
                <div :class="['form-group', {'d-none': !createFinalBackup}]">
                  <label for="finalBackupIdentifierInput">Final backup name</label>
                  <small class="form-text text-muted">
                    The DBSnapshotIdentifier of the new DB Backup created.
                  </small>
                  <input type="text" class="form-control" id="finalBackupIdentifierInput" :disabled="!createFinalBackup" v-model="finalBackupIdentifier">
                </div>
                <div :class="['form-group form-check', {'d-none': !mustAcknowledge}]">
                  <input type="checkbox" class="form-check-input" id="acknowledgeCheck" v-model="acknowledge">
                  <label class="form-check-label" for="acknowledgeCheck">I acknowledge that upon instance deletion, automated backups, including system snapshots and point-in-time recovery, will no longer be available.</label>
                </div>
                <hr>
              </div>
              <div class="form-group">
                <small class="form-text text-muted">To confirm deletion, type <em>delete me</em> into the field</small>
                <input class="form-control" type="text" v-model="deleteConfirmText">
              </div>
              <div v-if="deleteInstanceError" class="alert alert-danger">
                {{ deleteInstanceError }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-danger" :disabled="!canSubmitDelete">Delete</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Create Backup Modal -->
    <div class="modal fade" id="createBackupModal" tabindex="-1" role="dialog" aria-labelledby="createBackupModalLabel" aria-hidden="true" ref="createBackupModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form @submit.prevent="createBackup">
            <div class="modal-header">
              <h5 class="modal-title" id="createBackupModalLabel">Create DB Backup</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="backupIdentifierInput">Backup name</label>
                <small class="form-text text-muted">
                  The Identifier for the DB Backup.
                </small>
                <input type="text" class="form-control" id="backupIdentifierInput" v-model="backupIdentifier">
                <small class="form-text text-danger" v-if="backupIdentifierError">
                  {{ backupIdentifierError }}
                </small>
              </div>
              <div v-if="createBackupError" class="alert alert-danger">
                {{ createBackupError }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-danger" :disabled="!canSubmitCreateBackup">Create Backup</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Restore to PointInTime Modal -->
    <div class="modal fade" id="restoreToPointInTimeModal" tabindex="-1" role="dialog" aria-labelledby="restoreToPointInTimeModalLabel" aria-hidden="true" ref="restoreToPointInTimeModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form @submit.prevent="restoreToPointInTime">
            <div class="modal-header">
              <h5 class="modal-title" id="restoreToPointInTimeModalLabel">Restore to Point in Time</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="restorationTime" id="latestRestorableTimeCheck" value="latest" v-model="restorationTime">
                <label class="form-check-label" for="latestRestorableTimeCheck">
                  Latest restorable time
                </label>
                <small class="form-text text-muted mt-0 mb-2">
                  {{ instance.LatestRestorableTime || 'Not available'}}
                </small>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="restorationTime" id="customRestorableTimeCheck" value="custom" v-model="restorationTime">
                <label class="form-check-label" for="customRestorableTimeCheck">
                  Custom
                </label>
                <div class="form-row" v-if="restorationTime === 'custom'">
                  <div class="form-group col-md-4">
                    <label class="small" for="customDateInput">Date</label>
                    <date-picker v-model="customDate" class="form-control form-control-sm" :config="customDatePickerOptions"></date-picker>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="small" for="customHoursInput">Time</label>
                    <div class="form-row">
                      <div class="col">
                        <select class="form-control form-control-sm" id="customHoursInput" v-model="customHours">
                          <option v-for="index in 24" :key="index">{{ index  - 1 | padStart(2, 0) }}</option>
                        </select>
                      </div>
                      <div class="col">
                        <select class="form-control form-control-sm" id="customMinutesInput" v-model="customMinutes">
                          <option v-for="index in 60" :key="index">{{ index  - 1 | padStart(2, 0) }}</option>
                        </select>
                      </div>
                      <div class="col">
                        <select class="form-control form-control-sm" id="customSecondsInput" v-model="customSeconds">
                          <option v-for="index in 60" :key="index">{{ index  - 1 | padStart(2, 0) }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="targetInstanceIdentifierInput">Instance name</label>
                <input type="text" class="form-control" id="targetInstanceIdentifierInput" v-model="targetInstanceIdentifier">
                <small class="form-text text-danger" v-if="targetInstanceIdentifierError">
                  {{ targetInstanceIdentifierError }}
                </small>
                <small class="form-text text-muted">
                  The Identifier for the DB Instance.
                </small>
              </div>
              <div v-if="restoreToPointInTimeError" class="alert alert-danger">
                {{ restoreToPointInTimeError }}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-danger" :disabled="!canSubmitRestoreToPointInTime">Restore</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <backups-list :instance="instance.DBInstanceIdentifier" class="mt-3" header="Backups"></backups-list>
  </div>
</template>

<script lang="ts">
import JQuery from 'jquery';
const $ = JQuery;

import { Component, Vue, Watch } from 'vue-property-decorator';
import { RDS } from 'aws-sdk';
import VueClipboard from 'vue-clipboard2';
import { padStart } from '@/filters';
import datePicker from 'vue-bootstrap-datetimepicker';
import BackupsList from '@/components/BackupsList.vue';
import TemboardButton from '@/components/TemboardButton.vue';
import { temboard } from '@/App.vue';
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import * as _ from 'lodash';
import moment from 'moment';
import { IInstance } from '@/interfaces';

Vue.use(VueClipboard);

const dateFormat = 'DD/MM/YYYY';

@Component({
  filters: {
    padStart,
  },
  components: {
    datePicker,
    BackupsList,
    TemboardButton,
  },
})
export default class Instance extends Vue {
  private instance: IInstance = {
    DBInstanceIdentifier: '',
    DBInstanceStatus: '',
    Engine: '',
    EngineVersion: null,
    Endpoint: {
      Address: '',
      Port: null,
    },
    MasterUsername: '',
    AllocatedStorage: null,
    InstanceCreateTime: '',
    AvailabilityZone: null,
    MultiAZ: null,
    LatestRestorableTime: '',
    DeletionProtection: false,
    PerformanceInsightsEnabled: false,
  };
  private timer!: number;
  private loading: boolean = true;
  // pending request
  private request: any | null = null;
  private createFinalBackup: boolean | null = null;
  private acknowledge: boolean = false;
  private deleteConfirmText: string = '';
  private deleteInstanceError: string = '';
  private finalBackupIdentifier: string = '';
  private backupIdentifier: string = '';
  private backupIdentifierError: string = '';
  private createBackupError: string = '';
  private targetInstanceIdentifier: string = '';
  private targetInstanceIdentifierError: string = '';
  private restorationTime: string = 'latest';
  private restoreToPointInTimeError: string = '';
  private customDate = moment();
  private customDatePickerOptions: any = {
    format: dateFormat,
    icons: {
      time: 'far fa-clock',
      date: 'far fa-calendar',
      up: 'fas fa-arrow-up',
      down: 'fas fa-arrow-down',
      previous: 'fas fa-chevron-left',
      next: 'fas fa-chevron-right',
      today: 'fas fa-calendar-check',
      clear: 'far fa-trash-alt',
      close: 'far fa-times-circle',
    },
  };
  private customHours: string = _.padStart(this.customDate.hours().toString(), 2, '0');
  private customMinutes: string = _.padStart(this.customDate.minutes().toString(), 2, '0');
  private customSeconds: string = _.padStart(this.customDate.seconds().toString(), 2, '0');

  private get canStop() {
    return this.instance.DBInstanceStatus === 'available';
  }

  private get canStart() {
    return this.instance.DBInstanceStatus === 'stopped';
  }

  private get canReboot() {
    return this.instance.DBInstanceStatus === 'available';
  }

  private get canDelete() {
    return this.instance.DBInstanceStatus !== 'deleting' && !this.instance.DeletionProtection;
  }

  private get canCreateBackup() {
    return this.instance.DBInstanceStatus === 'available';
  }

  private get canRestoreToPointInTime() {
    return this.instance.DBInstanceStatus === 'available';
  }

  private get psqlCmd() {
    if (!this.instance.Endpoint) {
      return '';
    }
    return 'psql -h ' + this.instance.Endpoint.Address + ' -p '
      + this.instance.Endpoint.Port + ' -U ' + this.instance.MasterUsername
      + ' --password';
  }

  private created() {
    this.fetchInstance();
  }

  private mounted() {
    $(this.$refs.deleteModal).on('show.bs.modal', this.onDeleteModalShown);
  }

  private beforeDestroy() {
    if (this.request) {
      this.request.abort();
    }
    clearInterval(this.timer);
  }

  private fetchInstance() {
    if (this.request) {
      this.request.abort();
    }
    clearInterval(this.timer);

    const rds: RDS = this.$store.getters.rds;
    this.request = rds.describeDBInstances({DBInstanceIdentifier: this.$route.params.id});
    const promise = this.request.promise();
    promise.then(
      (data: any) => {
        this.loading = false;
        this.instance = data.DBInstances[0];
        this.timer = window.setInterval(this.fetchInstance, 10000);
      },
      (err: any) => {
        if (err.statusCode === 403) {
          this.$store.commit('logout');
          this.$router.push('/login');
        } else {
          this.$router.push('/');
          this.$notify({
            title: 'Error',
            text: 'There was an error getting info for instance: ' + err.message,
            type: 'error',
          });
          return;
        }
      });
  }

  private start() {
    const rds: RDS = this.$store.getters.rds;
    rds.startDBInstance(
      {DBInstanceIdentifier: this.$route.params.id},
      (err, data: any) => {
        this.fetchInstance();
      },
    );
  }

  private stop() {
    const rds: RDS = this.$store.getters.rds;
    rds.stopDBInstance(
      {DBInstanceIdentifier: this.$route.params.id},
      (err, data: any) => {
        this.fetchInstance();
      },
    );
  }

  private reboot() {
    const rds: RDS = this.$store.getters.rds;
    rds.rebootDBInstance(
      {DBInstanceIdentifier: this.$route.params.id},
      (err, data: any) => {
        this.fetchInstance();
      },
    );
  }

  private delete_() {
    const params: any = {
      DBInstanceIdentifier: this.$route.params.id,
      SkipFinalSnapshot: !this.createFinalBackup,
    };
    if (this.createFinalBackup) {
      params.FinalDBSnapshotIdentifier = this.finalBackupIdentifier;
    }
    this.deleteInstanceError = '';
    const rds: RDS = this.$store.getters.rds;
    rds.deleteDBInstance(
      params,
      (err, data: any) => {
        if (err) {
          this.deleteInstanceError = err.message;
        } else {
          $(this.$refs.deleteModal).modal('hide');
          this.$router.push('/instances');
        }
      },
    );
  }

  private get mustAcknowledge() {
    return !this.createFinalBackup;
  }

  private get canSubmitDelete() {
    return this.deleteConfirmText === 'delete me' && (
      this.instance.DBInstanceStatus === 'creating' ||
      this.acknowledge || this.createFinalBackup
    );
  }

  private onDeleteModalShown() {
    this.createFinalBackup = this.instance.DBInstanceStatus === 'available';
    this.finalBackupIdentifier = this.instance.DBInstanceIdentifier + '-final-backup';
    this.deleteConfirmText = '';
  }

  private get shouldAskForFinalBackup() {
    return this.instance.DBInstanceStatus !== 'creating' &&
      this.instance.DBInstanceStatus !== 'backing-up';
  }

  private createBackup() {
    this.createBackupError = '';
    const rds: RDS = this.$store.getters.rds;
    rds.createDBSnapshot({
        DBInstanceIdentifier: this.$route.params.id,
        DBSnapshotIdentifier: this.backupIdentifier,
      },
      (err, data: any) => {
        if (err) {
          this.createBackupError = err.message;
        } else {
          $(this.$refs.createBackupModal).modal('hide');
          this.fetchInstance();
          this.$emit('update');
          this.$store.dispatch('fetchBackups');
        }
      },
    );
  }

  @Watch('backupIdentifier')
  private validateBackupForm() {
    if (!this.backupIdentifier.match(/^[a-zA-Z]/gm)) {
      this.backupIdentifierError = 'Must start with a letter';
    } else if (!this.backupIdentifier.match(/^[a-zA-Z0-9|\-]*$/gm)) {
      this.backupIdentifierError = 'Must contain only letters, digits, or hyphens';
    } else {
      this.backupIdentifierError = '';
    }
  }

  private get canSubmitCreateBackup() {
    return this.backupIdentifier !== '' && this.backupIdentifierError === '';
  }

  private restoreToPointInTime() {
    const rds: RDS = this.$store.getters.rds;
    const params: any = {
      SourceDBInstanceIdentifier: this.instance.DBInstanceIdentifier,
      UseLatestRestorableTime: this.restorationTime === 'latest',
      TargetDBInstanceIdentifier: this.targetInstanceIdentifier,
    };
    if (this.restorationTime === 'custom') {
      params.RestoreTime = moment(this.customDate, dateFormat)
        .hours(parseInt(this.customHours, 0))
        .minutes(parseInt(this.customMinutes, 0))
        .seconds(parseInt(this.customSeconds, 0))
        .toISOString();
    }
    this.restoreToPointInTimeError = '';
    rds.restoreDBInstanceToPointInTime(
      params,
      (err, data: any) => {
        if (err) {
          this.restoreToPointInTimeError = err.message;
        } else {
          $(this.$refs.restoreToPointInTimeModal).modal('hide');
          this.$router.push('/instances');
        }
      },
    );
  }

  private get canSubmitRestoreToPointInTime() {
    return this.targetInstanceIdentifier !== '' && this.targetInstanceIdentifierError === '';
  }

  private hasTemboard(): boolean {
    return (
      temboard !== undefined
      && ['available', 'stopped', 'starting', 'stopping', 'backing-up', 'rebooting'].includes(
        this.instance.DBInstanceStatus)
      && this.instance.PerformanceInsightsEnabled === true
    );
  }
}
</script>
