<template>
  <div>
    <template v-if="!missingAccount">
    <div class="row">
      <div class="col">
        <router-link :to="{ name: 'instance_new'}" class="btn btn-primary">
          Create instance
        </router-link>
      </div>
      <div class="input-group col-5 ml-auto">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <input type="search" class="form-control" v-model="search">
      </div>
    </div>
    <ul class="list-group mt-2" v-if="!loadingInstances">
      <li class="list-group-item" v-for="instance in filteredInstances">
        <div class="btn-group float-right">
          <button class="btn btn-outline-secondary btn-sm" v-if="canStop(instance)"
            title="Stop instance"
            @click.prevent="stop(instance)"
          >
            <i class="fa fa-power-off"></i>
          </button>
          <button class="btn btn-outline-secondary btn-sm" v-if="canStart(instance)"
            title="Start instance"
            @click.prevent="start(instance)"
          >
            <i class="fa fa-play"></i>
          </button>
        </div>
        <div :class="'float-left mr-2 fa status status-' + instance.DBInstanceStatus" :title="instance.DBInstanceStatus"></div>
        <div class="float-left">
          <router-link :to="{ name: 'instance', params: { id: instance.DBInstanceIdentifier }}" class="text-dark">
            <b>{{ instance.DBInstanceIdentifier }}</b>
          </router-link>
          <small class="text-muted">
            {{ instance.Engine }}
            {{ instance.EngineVersion }}
          </small>
          <small v-if="instance.DBInstanceStatus != 'available'">
            <em :class="'status-text status-' + instance.DBInstanceStatus">
            {{ instance.DBInstanceStatus }}
            </em>
          </small>
          <div v-if="instance.Endpoint">
            <small>
              {{ instance.Endpoint.Address }} {{ instance.Endpoint.Port }}
            </small>
          </div>
          <div>
            <small class="text-muted">
              <timeago :datetime="instance.InstanceCreateTime" :title="instance.InstanceCreateTime.toString()" v-if="instance.InstanceCreateTime"></timeago>
              <span v-else>N/A</span>
            </small>
            <temboard-button v-if="hasTemboard(instance)" :instance="instance"
              class="ml-3"></temboard-button>
          </div>
        </div>
      </li>
      <li class="list-group-item text-center" v-if="!filteredInstances.length">
        <span class="text-muted">
          No instance
        </span>
      </li>
    </ul>
    <loading-ellipsis v-else></loading-ellipsis>
    </template>
    <div v-else-if="!loadingAccounts">
      <div class="alert alert-danger">
        You don't have access to any account. Please contact your administrator.
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapState } from 'vuex';
import { Component, Vue } from 'vue-property-decorator';
import { IAccount, IInstance } from '@/interfaces';
import { awsOnly, temboard, cornacEndpoint } from '@/App.vue';
import { RDS } from 'aws-sdk';
import * as _ from 'lodash';

import TemboardButton from '@/components/TemboardButton.vue';

@Component({
  components: {
    TemboardButton,
  },
  computed: {
    ...mapState(['accounts', 'instances', 'loadingAccounts', 'loadingInstances']),
  },
})
export default class Home extends Vue {
  private accounts!: IAccount[];
  private search: string = '';
  private timer!: number;
  private instances!: IInstance[];
  private loadingInstances!: boolean;
  private loadingAccounts!: boolean;

  private created() {
    this.update();
  }

  private beforeDestroy() {
    clearInterval(this.timer);
  }

  private update() {
    clearInterval(this.timer);
    if (this.missingAccount) {
      return;
    }
    this.$store.dispatch('fetchInstances');
    this.timer = window.setInterval(this.update, 10000);
  }

  private get filteredInstances() {
    return _.filter(this.instances, (i) => {
      return i.DBInstanceIdentifier.indexOf(this.search) !== -1 ||
             (i.Endpoint && i.Endpoint.Address.indexOf(this.search) !== -1);
    });
  }

  private canStop(instance: IInstance) {
    return instance.DBInstanceStatus === 'available';
  }

  private canStart(instance: IInstance) {
    return instance.DBInstanceStatus === 'stopped';
  }

  private start(instance: IInstance) {
    const rds: RDS = this.$store.getters.rds;
    rds.startDBInstance(
      {DBInstanceIdentifier: instance.DBInstanceIdentifier},
      (err, data: any) => {
        this.update();
      },
    );
  }

  private stop(instance: IInstance) {
    const rds: RDS = this.$store.getters.rds;
    rds.stopDBInstance(
      {DBInstanceIdentifier: instance.DBInstanceIdentifier},
      (err, data: any) => {
        this.update();
      },
    );
  }

  private get missingAccount(): boolean {
    return !this.accounts.length && !awsOnly;
  }

  private hasTemboard(instance: IInstance): boolean {
    return (
      temboard !== undefined
      && ['available', 'stopped', 'starting', 'stopping', 'backing-up', 'rebooting'].includes(
        instance.DBInstanceStatus)
      && instance.PerformanceInsightsEnabled === true
    );
  }
}
</script>
