<template>
  <div class="row">
    <div class="col-10">
    <h3>Create Instance</h3>
    <loading-ellipsis v-if="isLoading"></loading-ellipsis>
    <div class="alert alert-danger" v-else-if="orderableOptionsError" v-html="orderableOptionsError"></div>
    <form @submit.prevent="createInstance" v-else>
      <div class="card mb-3">
        <div class="card-header">
          <h4 class="mb-0">
            Settings
          </h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="DBInstanceIdentifierInput">Name of the instance</label>
            <input type="text" class="form-control"
            id="DBInstanceIdentifierInput" v-model="DBInstanceIdentifier">
            <small class="form-text text-danger" v-if="DBInstanceIdentifierError">
              {{ DBInstanceIdentifierError }}
            </small>
          </div>
          <hr>
          <div class="form-group">
            <label for="EngineVersionInput">PostgreSQL Version:</label>
            <button
              class="btn btn-outline-secondary ml-2"
              :class="{'active': version == EngineVersion}"
              type="button"
              v-for="version in engineVersions"
              @click="EngineVersion = version"
              >
              {{ version }}
            </button>
          </div>
          <div class="form-inline form-group">
            <label for="DBInstanceClassSelect" class="mr-2">Instance Class:</label>
            <select
              class="form-control"
              id="DBInstanceClassSelect"
              v-model="DBInstanceClass"
            >
              <option
                v-for="class_ in instanceClasses"
              >
              {{ class_ }}
              </option>
            </select>
          </div>
          <div class="form-group form-inline mb-0">
            <label for="AllocatedStorageInput">Allocated storage:</label>
            <input
              type="range"
              class="custom-range ml-2 w-50"
              :min="0"
              :max="storageSizes.length - 1"
              step="1"
              id="AllocatedStorageInput"
              v-model.number="AllocatedStorageIndex">
            <span class="ml-2">
              {{ AllocatedStorage | formatGigabytes }}
            </span>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <h4 class="mb-0">
            Availability
          </h4>
        </div>
        <div class="card-body">
          <div class="form-group form-inline mb-0">
            <button
              class="btn btn-outline-secondary mr-2"
              :class="{'active': zone.Name == AvailabilityZone}"
              type="button"
              v-for="zone in availabilityZones"
              :disabled="MultiAZ"
              @click="AvailabilityZone = zone.Name"
              >
              {{ zone.Name }}
            </button>
          </div>
          <small class="form-text text-muted mb-2">
            Zone in which the instance will be created.
          </small>
          <div class="form-group form-inline mb-0">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="MultiAZInput" v-model.boolean="MultiAZ">
              <label for="MultiAZInput" class="custom-control-label">Enable high availability</label>
            </div>
            <small class="form-text text-muted">
              If selected, the primary and secondary instances will be
              created in different zones. Secondary instance will be set up for
              asynchronous replication.
            </small>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <h4 class="mb-0">
            Credentials
          </h4>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="MasterUsernameInput">Username</label>
            <input type="text" class="form-control" id="MasterUsernameInput" v-model="MasterUsername">
            <small class="form-text text-muted mb-2">
              Username for the master user.
              <br>
              The first database in the instance will have the same name.
            </small>
            <small class="form-text text-danger" v-if="MasterUsernameError">
              {{ MasterUsernameError }}
            </small>
          </div>
          <div class="row">
            <div class="form-group col-6 mb-0">
              <label for="MasterUserPasswordInput">Password</label>
              <input type="password" class="form-control" id="MasterUserPasswordInput" v-model="MasterUserPassword">
            </div>
            <div class="form-group col-6 mb-0">
              <label for="ConfirmPasswordInput">Confirm password</label>
              <input type="password" class="form-control" id="ConfirmPasswordInput" v-model="ConfirmPassword">
              <small class="form-text text-danger" v-if="ConfirmPasswordError">
                {{ ConfirmPasswordError }}
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" v-if="supportsPerformanceInsight">
        <div class="card-header">
          <h4 class="mb-0">
            Options
          </h4>
        </div>
        <div class="card-body">
          <div class="form-group form-inline mb-0">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="EnablePerformanceInsightsInput" v-model.boolean="EnablePerformanceInsights">
              <label for="EnablePerformanceInsightsInput"
                class="custom-control-label">
                Enable performance insights
                <i class="far fa-chart-bar ml-2 text-muted"></i>
              </label>
            </div>
            <small class="form-help text-muted">
              If selected temBoard will be enabled to help you
              monitor, optimize and configure this instance.
            </small>
          </div>
        </div>
      </div>
      <div v-if="createInstanceError" class="alert alert-danger">
        {{ createInstanceError }}
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block mb-5"
        :disabled="!canSubmit">Create</button>
    </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { RDS } from 'aws-sdk';
import { CreateDBInstanceMessage, OrderableDBInstanceOption } from 'aws-sdk/clients/rds';
import { formatGigabytes } from '@/filters';
import * as _ from 'lodash';

@Component({
  filters: {
    formatGigabytes,
  },
})
export default class InstanceNew extends Vue {

  private createInstanceError: string = '';
  private DBInstanceIdentifier: string = '';
  private DBInstanceIdentifierError: string = '';
  private MasterUsername: string = '';
  private MasterUsernameError: string = '';
  private MasterUserPassword: string = '';
  private ConfirmPassword: string = '';
  private ConfirmPasswordError: string = '';
  private AllocatedStorageIndex: number = 0;
  private EnablePerformanceInsights: boolean = false;
  private MultiAZ: boolean = false;
  private AvailabilityZone: string | undefined = '';
  private EngineVersion: string | undefined = '';
  private DBInstanceClass: string = '';
  private dbInstanceOptions: OrderableDBInstanceOption[] | undefined = [];
  private orderableOptionsError: string = '';
  private isLoading: boolean = true;

  private created() {
    const rds: RDS = this.$store.getters.rds;
    rds.describeOrderableDBInstanceOptions({
      Engine: 'postgres',
    }, (err, data) => {
      this.isLoading = false;
      if (err) {
        this.orderableOptionsError = 'Error when initializing the form :<br>' + err;
        return;
      }
      this.dbInstanceOptions = data.OrderableDBInstanceOptions;
      this.EngineVersion = _.maxBy(
        this.dbInstanceOptions,
        (o) => parseFloat(o.EngineVersion || ''),
      )!.EngineVersion;

      this.DBInstanceClass = this.instanceClasses[0] || '';
    });
  }

  private createInstance() {
    if (!this.validatePasswords()) {
      this.ConfirmPasswordError = 'Passwords do not match';
      return;
    }
    this.createInstanceError = '';
    const rds: RDS = this.$store.getters.rds;

    const params: CreateDBInstanceMessage = {
      AllocatedStorage: this.AllocatedStorage,
      DBInstanceIdentifier: this.DBInstanceIdentifier,
      DBInstanceClass: this.DBInstanceClass,
      Engine: 'postgres',
      EngineVersion: this.EngineVersion,
      MasterUsername: this.MasterUsername,
      MasterUserPassword: this.MasterUserPassword,
      EnablePerformanceInsights: this.EnablePerformanceInsights,
    };

    if (this.MultiAZ) {
      params.MultiAZ = this.MultiAZ;
    } else {
      params.AvailabilityZone = this.AvailabilityZone;
    }

    rds.createDBInstance(params, (err, data: any) => {
      if (err) {
        this.createInstanceError = err.message;
      } else {
        this.$router.push('/instances');
      }
    });
  }

  @Watch('DBInstanceIdentifier')
  private validateIdentifier() {
    if (!this.DBInstanceIdentifier.match(/^[a-zA-Z]/gm)) {
      this.DBInstanceIdentifierError = 'Must start with a letter';
    } else if (!this.DBInstanceIdentifier.match(/^[a-zA-Z0-9|\-]*$/gm)) {
      this.DBInstanceIdentifierError = 'Must contain only letters, digits, or hyphens';
    } else {
      this.DBInstanceIdentifierError = '';
    }
  }

  @Watch('ConfirmPassword')
  private clearConfirmPasswordError() {
    this.ConfirmPasswordError = '';
  }

  private validatePasswords(): boolean {
    return this.MasterUserPassword === this.ConfirmPassword;
  }

  private get canSubmit() {
    return this.DBInstanceIdentifier !== '' &&
      this.DBInstanceIdentifierError === '' &&
      this.MasterUsername !== '' &&
      this.MasterUserPassword !== '' &&
      _.isNumber(this.AllocatedStorage);
  }

  private get engineVersions() {
    return _.uniq(_.map(this.dbInstanceOptions, 'EngineVersion'));
  }

  private get instanceClasses() {
    const orderableOptions = _.filter(this.dbInstanceOptions, (o) => {
      return o.EngineVersion === this.EngineVersion;
    });
    return _.map(orderableOptions, 'DBInstanceClass');
  }

  private get availabilityZones() {
    const orderableOption = _.find(this.dbInstanceOptions, (o) => {
      return o.EngineVersion === this.EngineVersion && o.DBInstanceClass === this.DBInstanceClass;
    });
    return orderableOption ? orderableOption.AvailabilityZones : [];
  }

  @Watch('EngineVersion')
  private onEngineVersionChange() {
    this.AvailabilityZone = this.AvailabilityZone || this.availabilityZones![0].Name;
  }

  private get storageSizes(): number[] {
    const option = _.find(this.dbInstanceOptions, (o) => {
      return o.EngineVersion === this.EngineVersion;
    });
    const min = option && option.MinStorageSize;
    const max = option && option.MaxStorageSize;
    if (!min || !max ) {
      return [];
    }
    let size = min;
    const sizes = [size];
    // next power of 2
    size = Math.pow(2, Math.ceil(Math.log(size) / Math.log(2)));
    sizes.push(size);
    do {
      if (size < 100) {
        sizes.push(size * 1.5);
      }
      size = size * 2;
      sizes.push(size);
    }
    while (size * 2 < max);
    sizes.push(max);
    return sizes;
  }

  private get AllocatedStorage() {
    return this.storageSizes[this.AllocatedStorageIndex];
  }

  private get supportsPerformanceInsight() {
    const orderableOption = _.find(this.dbInstanceOptions, (o) => {
      return o.EngineVersion === this.EngineVersion && o.DBInstanceClass === this.DBInstanceClass;
    });
    return orderableOption ? orderableOption.SupportsPerformanceInsights : false;
  }
}
</script>
