<template>
  <div class="d-flex align-items-center text-center h-100 mt-5">
    <form action="" v-on:submit.prevent="login()" class="m-auto">
      <div class="card">
        <div class="card-body">
          <h1>Access Key</h1>
          <label for="accessKeyId" class="sr-only">
            Access Key Id
          </label>
          <input type="text" id="accessKeyId" v-model="accessKeyId" class="form-control" placeholder="Access Key Id">
          <label for="secretAccessKey" class="sr-only">
            Secret Access Key
          </label>
          <input type="password" id="secretAccessKey" v-model="secretAccessKey" class="form-control" placeholder="Secret Access Key">
          <input type="submit" class="btn btn-primary w-100">
        </div>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
})
export default class Login extends Vue {
  private accessKeyId: string = '';
  private secretAccessKey: string = '';

  private login() {
    const data = {
      credentials : {
        AccessKeyId: this.accessKeyId,
        SecretAccessKey: this.secretAccessKey,
      },
    };
    this.$store.commit('username', 'AWS user');
    this.$store.commit('login', data);
    this.$router.push('/');
  }
}
</script>

<style lang="scss">
#accessKeyId {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#secretAccessKey {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
