<template>
  <div class="d-flex align-items-center flex-column text-center h-100 mt-5">
    <h1 class="text-primary font-weight-bold mt-5">
      <img class="m-3 h-50" alt="" src="../assets/logo.png">
      PostgreSQL Cloud Console
    </h1>
    <form action="" v-on:submit.prevent="doLogin" class="m-auto">
      <div class="card">
        <div class="card-body">
          <h3>Login</h3>
          <small class="form-text text-danger p-3" v-if="loginError">
            Forgot password? Go to <router-link to="/reset_password/">reset password</router-link>.
          </small>
          <label for="username" class="sr-only">
            Username
          </label>
          <input type="text" id="username" v-model="username" class="form-control" placeholder="Username (Email address)">
          <label for="password" class="sr-only">
            Password
          </label>
          <input type="password" id="password" v-model="password" class="form-control" placeholder="Password">
          <input type="submit" class="btn btn-primary w-100" value="Connect">
        </div>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { cornacEndpoint } from '@/App.vue';
import * as _ from 'lodash';
import axios from 'axios';

@Component({
})
export default class Login extends Vue {
  private username: string = '';
  private password: string = '';
  private loginError: boolean = false;

  private doLogin() {
    axios.post(cornacEndpoint + '/login', {
      username: this.username,
      password: this.password,
    })
      .then((response) => {
        this.$store.commit('username', this.username);
        this.$store.commit('login', response.data);
        this.$router.push('/');
      })
      .catch((error) => {
        this.$notify({
          title: 'Error',
          text: 'Error while logging in',
          type: 'error',
        });
        this.loginError = true;
      });
  }
}
</script>

<style lang="scss">
#username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
