<template>
  <div>
    <access-keys-list v-bind:user="user" class="mt-3 mb-3"></access-keys-list>
    <form action="" v-on:submit.prevent="changePassword()" class="m-auto">
    <h3>Change Password</h3>
    <div class="row">
      <div class="form-group col-4">
        <label for="oldPasswordId">
          Old Password
        </label>
        <input type="password" id="oldPasswordId" v-model="oldPassword" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-4">
        <label for="newPasswordId">
          New Password
        </label>
        <input type="password" id="newPasswordId" v-model="newPassword" class="form-control">
      </div>
      <div class="form-group col-4">
        <label for="confirmPasswordId">
          Confirm Password
        </label>
        <input type="password" id="confirmPasswordId" v-model="confirmPassword" class="form-control">
        <small class="form-text text-danger" v-if="confirmPasswordError">
          {{ confirmPasswordError }}
        </small>
      </div>
      <p class="m-3 text-muted">Password must have at least 8 characters.
      Password must have at least one character in at lease 3 of the following
      character sets : lowercase, uppercase, number or punctuation.</p>
    </div>
    <input type="submit" class="btn btn-primary" value="Change Password">
  </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { IUser } from '@/interfaces';
import { IAM } from 'aws-sdk';
import AccessKeysList from '@/components/AccessKeysList.vue';

@Component({
  components: {
    AccessKeysList,
  },
})
export default class Profile extends Vue {
  private user!: IUser;

  private oldPassword: string = '';
  private newPassword: string = '';
  private confirmPassword: string = '';
  private confirmPasswordError: string = '';

  private created() {
    this.user = {UserName: this.$store.state.username, UserId: 'AIDAXXX'};
  }

  private changePassword() {
    if (!this.newPassword) {
      return;
    }
    if (!this.validatePasswords()) {
      this.confirmPasswordError = 'Passwords do not match';
      return;
    }
    const iam = new IAM();
    iam.changePassword(
      {
        OldPassword: this.oldPassword,
        NewPassword: this.newPassword,
      },
      (err, data: any) => {
        if (err) {
          this.$notify({
            title: 'Error',
            text: 'Error while updating password',
            type: 'error',
          });
        } else {
          this.$notify({
            title: 'Success',
            text: 'Password updated successfully',
            type: 'success',
          });
        }
      },
    );
  }

  private validatePasswords(): boolean {
    return this.newPassword === this.confirmPassword;
  }
}
</script>

<style lang="scss">
</style>
