<template>
  <div>
    <div class="row">
      <div class="col">
        <router-link :to="{ name: 'user_new'}" class="btn btn-primary">
          Create user
        </router-link>
      </div>
    </div>
    <ul class="list-group mt-2">
      <li class="list-group-item d-flex align-items-center" v-for="user in users">
        <router-link :to="{ name: 'user', params: { username: user.UserName }}" class="text-dark">
          {{ user.UserName }}
        </router-link>
        <button class="btn btn-danger btn-sm ml-auto" @click="deleteUser(user)">Delete</button>
      </li>
      <li class="list-group-item text-center" v-if="!users.length">
        <span class="text-muted">
          No user
        </span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import UsersList from '@/components/UsersList.vue';
import { IAM } from 'aws-sdk';
import { IUser } from '@/interfaces';

@Component
export default class UsersHome extends Vue {
  private users: IUser[] = [];
  private timer!: number;
  // pending request
  private request: any | null = null;

  private created() {
    this.fetchUsers();
  }

  private beforeDestroy() {
    if (this.request) {
      this.request.abort();
    }
    clearInterval(this.timer);
  }

  private fetchUsers() {
    if (this.request) {
      this.request.abort();
    }
    clearInterval(this.timer);

    const iam = new IAM();
    this.request = iam.listUsers({}, (err, data: any) => {
      if (err) {
        if (err.statusCode === 403) {
          this.$store.commit('logout');
          this.$router.push('/login');
        }
        this.$notify({
          title: 'Error',
          text: 'There was an error listing your users: ' + err.message,
          type: 'error',
        });
        return;
      } else {
        this.users = data.Users;
        this.timer = window.setInterval(this.fetchUsers, 10000);
      }
    });
  }

  private deleteUser(user: IUser) {
    if (window.confirm('Are you sure?')) {
      const iam = new IAM();
      iam.deleteUser({
        UserName: user.UserName,
      }, (err, data: any) => {
        if (!err) {
          this.$notify({
            title: 'Success',
            text: 'User has been successfully deleted.',
            type: 'success',
          });
          this.fetchUsers();
        } else {
          this.$notify({
            title: 'Error',
            text: 'There was an error deleting user.',
            type: 'error',
          });
        }
      });
    }
  }
}

</script>
