<template>
  <div>
    <div class="card shadow">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <b>{{ user.UserName }}</b>
            <button class="btn btn-link btn-sm" @click.prevent="updateUser">
              <i class="fa fa-pencil-alt"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body" v-if="!loading">
        <div class="row">
          <div class="col-7">
            <div class="row">
              <div class="col-sm-3 text-muted">
                Path
              </div>
              <div class="col-sm-9">
                {{ user.Path }}
              </div>
              <div class="col-sm-3 text-muted">
                UserId
              </div>
              <div class="col-sm-9">
                {{ user.UserId }}
              </div>
              <div class="col-sm-3 text-muted">
                Arn
              </div>
              <div class="col-sm-9">
                {{ user.Arn }}
              </div>
            </div>
          </div>
          <div class="col-5">
            <span class="text-muted">
              Created
            </span>
            <timeago :datetime="user.CreateDate" :title="user.CreateDate.toString()" v-if="user.CreateDate"></timeago>
            <span v-else>N/A</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <b>Accounts</b>
          </div>
        </div>
      </div>
      <div class="card-body" v-if="!loading">
        <div v-if="!isAdmin">
          <ul class="list-group col-6 mb-2" v-show="filteredUserAccounts.length !== 0">
            <li v-for="account in filteredUserAccounts" class="list-group-item d-flex align-items-center">
              {{ account.AccountAlias }}
              <button class="btn btn-outline-secondary btn-sm ml-auto" title="Remove user from account" @click="removeUserFromAccount(account)">Remove</button>
            </li>
          </ul>

          <form class="form-inline">
            <label class="mr-2">
              Add user to account:
            </label>
            <select class="custom-select" v-model="account">
              <option value="">Choose account…</option>
              <option v-for="account in availableAccounts" :value="account.AccountAlias">{{ account.AccountAlias }}</option>
            </select>
          </form>
        </div>
        <div v-else class="text-muted font-italic">
          User has access to all accounts
          <br>
          <span class="small">See administration privileges below</span>
        </div>
      </div>
    </div>

    <access-keys-list :user="user" class="mt-3 mb-3" v-if="user.UserName"></access-keys-list>

    <div class="mb-3 p-2 d-inline-block rounded alert alert-danger">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" v-model="isAdmin" id="rootAccountCheck">
        <label class="form-check-label font-weight-bold" for="rootAccountCheck">
          Grant administration privileges
          <span class="form-help text-muted small">The user will be allowed to manage accounts and users</span>
        </label>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { IAM } from 'aws-sdk';
import { IAccount, IGroup, IUser } from '@/interfaces';
import AccessKeysList from '@/components/AccessKeysList.vue';
import { mapState } from 'vuex';

import * as _ from 'lodash';

@Component({
  components: {
    AccessKeysList,
  },
  computed: {
    ...mapState(['accounts']),
  },
})
export default class User extends Vue {
  private user: IUser = {
    UserName: '',
    UserId: '',
  };
  private loading: boolean = false;
  // pending request
  private request: any | null = null;

  private userGroups: IGroup[] = [];
  private userAccounts: IAccount[] = [];
  private account: IAccount['AccountAlias'] = '';
  private accounts!: IAccount[];

  private created() {
    this.fetchUser();
  }

  private beforeDestroy() {
    if (this.request) {
      this.request.abort();
    }
  }

  private fetchUser() {
    if (this.request) {
      this.request.abort();
    }

    const iam = new IAM();
    this.request = iam.getUser({UserName: this.$route.params.username});
    const promise = this.request.promise();
    promise.then(
      (data: any) => {
        this.user = data.User;
        this.fetchGroupsForUser();
        this.loading = false;
      },
      (err: any) => {
        if (err.statusCode === 403) {
          this.$store.commit('logout');
          this.$router.push('/login');
        } else {
          this.$router.push('/');
          this.$notify({
            title: 'Error',
            text: 'There was an error getting info for user: ' + err.message,
            type: 'error',
          });
          return;
        }
      });
  }

  private fetchGroupsForUser() {
    const iam = new IAM();
    iam.listGroupsForUser(
      {
        UserName: this.user.UserName,
      },
      (err, data: any) => {
        if (!err) {
          this.userGroups = data.Groups;
          this.userAccounts = _.map(this.userGroups, (g) => this.findAccountByGroup(g));
        }
      },
    );
  }

  // list of accounts the user can be added to
  private get availableAccounts() {
    return _.filter(this.accounts, (account) => {
      // Don't take root account into account
      if (!account.AdminRoleArn) {
        return false;
      }
      return _.map(this.userGroups, 'GroupName').indexOf(account.AdminGroupName) === -1;
    });
  }

  // user accounts without the root one
  private get filteredUserAccounts() {
    return _.filter(this.userAccounts, (account) => account.AdminRoleArn);
  }

  private set isAdmin(newVal: boolean) {
    const account = _.find(this.accounts, (a) => !a.AdminRoleArn);
    if (!account) {
      return;
    }
    if (newVal) {
      this.addUserToAccount(account.AccountAlias);
    } else {
      this.removeUserFromAccount(account);
    }
  }

  private get isAdmin() {
    const userAccounts = _.filter(this.accounts, (account) => {
      return _.map(this.userGroups, 'GroupName').indexOf(account.AdminGroupName) !== -1;
    });
    return _.some(userAccounts, (a) => !a.AdminRoleArn);
  }

  @Watch('account')
  private addUserToAccount(alias: string) {
    if (!alias) {
      return;
    }
    const groupName = _.find(this.accounts, (a) => alias === a.AccountAlias)!.AdminGroupName;
    const iam = new IAM();
    iam.addUserToGroup(
      {
        UserName: this.user.UserName,
        GroupName: groupName,
      },
      (err, data: any) => {
        if (!err) {
          this.$notify({
            title: 'Success',
            text: 'User added to account ' + alias,
            type: 'success',
          });
        }
        // reset select
        this.account = '';
        this.fetchGroupsForUser();
      },
    );
  }

  private removeUserFromAccount(account: IAccount) {
    const iam = new IAM();
    iam.removeUserFromGroup(
      {
        UserName: this.user.UserName,
        GroupName: account.AdminGroupName,
      },
      (err, data: any) => {
        if (!err) {
          this.$notify({
            title: 'Success',
            text: 'User removed from account ' + account.AccountAlias,
            type: 'success',
          });
        }
        // reset select
        this.account = '';
        this.fetchGroupsForUser();
      },
    );
  }

  private updateUser(user: IUser) {
    const newUserName = window.prompt('New user name');
    if (newUserName) {
      const iam = new IAM();
      iam.updateUser({
        UserName: this.user.UserName,
        NewUserName: newUserName,
      },
      (err, data: any) => {
        if (!err) {
          this.$notify({
            title: 'Success',
            text: 'User has been successfully updated.',
            type: 'success',
          });
          this.fetchUser();
        } else {
          this.$notify({
            title: 'Error',
            text: 'Something went wrong when updating user: ' + err.message,
            type: 'error',
          });
        }
      });
    }
  }

  private findAccountByGroup(group: IGroup) {
    return _.find(this.accounts, (a) => a.AdminGroupName === group.GroupName)!;
  }
}
</script>
