<template>
  <div>
    <h3>Create User</h3>
    <form @submit.prevent="createUser">
      <div class="form-group">
        <label for="UsernameInput">User name</label>
        <input type="text" class="form-control col-sm-6" id="UsernameInput" v-model="Username">
      </div>
      <div v-if="createUserError" class="alert alert-danger">
        {{ createUserError }}
      </div>
      <button type="submit" class="btn btn-primary" :disabled="!canSubmit">Submit</button>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { IAM } from 'aws-sdk';
import * as _ from 'lodash';

@Component
export default class UserNew extends Vue {

  private Username: string = '';

  private createUserError: string = '';

  private createUser() {
    const iam = new IAM();

    iam.createUser({
      UserName: this.Username,
    }, (err, data: any) => {
      if (err) {
        this.createUserError = err.message;
      } else {
        this.$notify({
          title: 'Success',
          text: 'The user has been correctly created',
          type: 'success',
        });
        this.$router.push('/users/' + this.Username);
      }
    });
  }

  private get canSubmit() {
    return this.Username !== '';
  }
}
</script>
