<template>
  <div class="d-flex align-items-center h-100 mt-5">
    <form action="" v-on:submit.prevent="resetPassword()" class="m-auto">
      <div class="card">
        <div class="card-body">
          <h1>Reset Password</h1>
          <div class="form-group">
            <label for="newPasswordId">
              New Password
            </label>
            <input type="password" id="newPasswordId" v-model="newPassword" class="form-control">
          </div>
          <div class="form-group">
            <label for="confirmPasswordId">
              Confirm Password
            </label>
            <input type="password" id="confirmPasswordId" v-model="confirmPassword" class="form-control">
            <small class="form-text text-danger" v-if="confirmPasswordError">
              {{ confirmPasswordError }}
            </small>
          </div>
          <input type="submit" class="btn btn-primary w-100" value="Change Password">
        </div>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { cornacEndpoint } from '@/App.vue';
import axios from 'axios';

@Component({
})
export default class ResetPassword extends Vue {
  private newPassword: string = '';
  private confirmPassword: string = '';
  private confirmPasswordError: string = '';

  private resetPassword() {
    if (!this.newPassword) {
      return;
    }
    if (!this.validatePasswords()) {
      this.confirmPasswordError = 'Passwords do not match';
      return;
    }
    axios.post(cornacEndpoint + '/reset_password/' + this.$route.params.token, {
      password: this.newPassword,
    }, {
      headers: {'X-Amz-Security-Token': this.$store.state.sessionToken},
    })
      .then((response) => {
        this.$router.push('/login');
        this.$notify({
          title: 'Success',
          text: 'Password reset successfully',
          type: 'success',
        });
      })
      .catch((error) => {
        this.$notify({
          title: 'Error',
          text: 'Error while reseting password:<br>' + error.response.data.message,
          type: 'error',
        });
      });
  }

  private validatePasswords(): boolean {
    return this.newPassword === this.confirmPassword;
  }
}
</script>
