<template>
  <div class="d-flex align-items-center h-100 mt-5">
    <form action="" v-on:submit.prevent="sendResetLink()" class="m-auto">
      <div class="card">
        <div class="card-body">
          <h1>Reset Password</h1>
          <div class="form-group">
            <label for="UserName">
              Username (Email address)
            </label>
            <input type="text" id="UserNameId" v-model="username" class="form-control">
          </div>
          <input type="submit" class="btn btn-primary w-100" value="Send reset link">
        </div>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { cornacEndpoint } from '@/App.vue';
import axios from 'axios';

@Component({
})
export default class ResetPasswordQuery extends Vue {
  private username: string = '';

  private sendResetLink() {
    if (!this.username) {
      return;
    }
    axios.post(cornacEndpoint + '/reset_password/', {
      username: this.username,
    })
      .then((response) => {
        this.$notify({
          title: 'Success',
          text: response.data.message,
          type: 'success',
        });
      })
      .catch((error) => {
        this.$notify({
          title: 'Error',
          text: 'Error while reseting password:<br>' + error.response.data.message,
          type: 'error',
        });
      });
  }
}
</script>
