<template>
  <div>
    <div class="row">
      <div class="col">
        <form
          class="form-inline"
          @submit.prevent="createRange"
        >
          <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            placeholder="IPv4 CIDR"
            v-model="range"
          >
          <input
            type="text"
            class="form-control mb-2 mr-sm-2"
            placeholder="Comment"
            v-model="comment"
          >
          <button type="submit" class="btn btn-primary mb-2">Add</button>
        </form>
        <div v-if="createRangeError" class="alert alert-danger">
          {{ createRangeError }}
          <button type="button" class="close" data-dismiss="alert"
            aria-label="Close" @click.prevent="createRangeError = ''">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row" v-if="ranges.length">
      <div class="col-9">
        <ul class="list-group" v-if="!loading">
          <li
            class="list-group-item"
            v-for="(range, index) in ranges"
            @mouseover="hoverIndex = 'range' + index"
            @mouseleave="hoverIndex = ''"
            >
            <div class="btn-group float-right">
              <button
                class="btn btn-outline-danger btn-sm"
                :disabled="!canDelete(range)"
                :title="canDelete(range) ? '' : 'Cannot be deleted. IPs are already allocated in this range'"
                @click="deleteRange(range)">Delete</button>
            </div>
            <div class="float-left">
              <div>
                <b>
                  {{ range.range }}
                </b>
                ⋅
                <span class="text-muted font-italic small">
                  {{ range.comment }}
                  <a href class="" :class="hoverIndex == 'range'
                          + index ? 'visible' : 'invisible'"
                          @click.prevent="updateRange(range)">
                    <i class="fa fa-pencil-alt"></i>
                  </a>
                </span>
              </div>
              <div class="small text-muted">
                Allocated IPs: {{ range.allocated }} / {{ range.size }}
              </div>
            </div>
          </li>
        </ul>
        <loading-ellipsis v-else></loading-ellipsis>
      </div>
      <div class="col-3">
        <dl class="row mb-0">
          <dt class="col-sm-6">Allocated</dt>
          <dd class="col-sm-6">{{ totalAllocated }}</dd>
          <dt class="col-sm-6">Free</dt>
          <dd class="col-sm-6">{{ totalAvailable - totalAllocated }}</dd>
        </dl>
        <div class="progress bg-success" style="height: 5px;">
          <div
            class="progress-bar bg-danger"
            role="progressbar"
            :style="'width: ' + totalAllocatedPercent + '%'"
            :aria-valuenow="totalAllocatedPercent"
            aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div class="text-muted font-italic" v-else>
      No virtual IP has been set yet
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { cornacEndpoint } from '@/App.vue';
import { IIPRange } from '@/interfaces';
import axios from 'axios';
import * as _ from 'lodash';

@Component
export default class VirtualIpsHome extends Vue {

  private createRangeError: string = '';
  private range: string = '';
  private comment: string = '';
  private ranges: IIPRange[] = [];
  private loading: boolean = false;
  private hoverIndex: string = '';

  private created() {
    this.fetchIps();
  }

  private fetchIps() {
    this.loading = true;
    this.range = '';
    this.comment = '';
    axios.get(cornacEndpoint + '/virtual-ip-ranges', {
      headers: this.$store.getters.cornacHeaders,
    })
      .then((response) => {
        this.ranges = response.data.ranges;
      })
      .catch((error) => {
        if (error.statusCode === 403) {
          this.$store.commit('logout');
          this.$router.push('/login');
        }
        this.$notify({
          title: 'Error',
          text: 'There was an error listing virtual ips: ' + error.message,
          type: 'error',
        });
      })
      .then(() => {
        this.loading = false;
      });
  }

  private createRange() {
    this.createRangeError = '';
    axios.post(cornacEndpoint + '/virtual-ip-ranges', {
      range: this.range,
      comment: this.comment,
    }, {headers: this.$store.getters.cornacHeaders})
      .then((response) => {
        this.$notify({
          title: 'Success',
          text: response.data.message,
          type: 'success',
        });
        this.fetchIps();
      })
      .catch((error) => {
        this.createRangeError = error.response.data.message;
      });
  }

  private deleteRange(range: IIPRange) {
    this.createRangeError = '';
    if (window.confirm('Are you sure?')) {
      axios.delete(cornacEndpoint + '/virtual-ip-ranges/' + range.id, {
        headers: this.$store.getters.cornacHeaders})
        .then((response) => {
          this.fetchIps();
        })
        .catch((error) => {
          this.$notify({
            title: 'Error',
            text: error.response.data.message,
            type: 'error',
          });
        });
    }
  }

  private canDelete(range: IIPRange): boolean {
    return range.allocated === 0;
  }

  private updateRange(range: IIPRange) {
    const newComment = window.prompt('Add a comment');
    if (!newComment) {
      return;
    }

    axios.patch(cornacEndpoint + '/virtual-ip-ranges/' + range.id, {
      comment: newComment,
    }, {headers: this.$store.getters.cornacHeaders})
      .then((response) => {
        this.$notify({
          title: 'Success',
          text: response.data.message,
          type: 'success',
        });
        this.fetchIps();
      })
      .catch((error) => {
        this.createRangeError = error.response.data.message;
      });
  }

  private get totalAllocated(): number {
    return _.sumBy(this.ranges, 'allocated');
  }

  private get totalAvailable(): number {
    return _.sumBy(this.ranges, 'size');
  }

  private get totalAllocatedPercent(): number {
    return this.totalAllocated / this.totalAvailable * 100;
  }
}

</script>
