<template>
  <div>
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <b>Access keys</b>
          </div>
        </div>
      </div>
      <div class="card-body" v-if="!loading">
        <button class="btn btn-secondary mb-2"
                @click="createAccessKey"
                :disabled="!canCreateAccessKey"
                :title="!canCreateAccessKey ? 'You cannot create more than 2 access keys' : ''"
        >
          Create access key
        </button>
        <table class="table mb-0">
          <tr>
            <th>Access key ID</th>
            <th>Created</th>
            <th>Last used</th>
            <th>Status</th>
            <th></th>
          </tr>
          <tr v-for="key in accessKeys">
            <td>
              {{ key.AccessKeyId }}
            </td>
            <td>
              {{ key.CreateDate }}
            </td>
            <td>
              {{ key._lastUsed }}
            </td>
            <td class="text-nowrap">
              {{ key.Status }} |
              <template v-if="key.Status == 'Active'">
                <a href="#" @click.prevent="updateAccessKey(key.AccessKeyId, 'Inactive')">
                  Make inactive
                </a>
              </template>
              <template v-else>
                <a href="#" @click.prevent="updateAccessKey(key.AccessKeyId, 'Active')">
                  Make active
                </a>
              </template>
            </td>
            <td>
              <a href="#" @click.prevent="deleteAccessKey(key.AccessKeyId)">Delete</a>
            </td>
          </tr>
          <tr v-show="accessKeys.length == 0">
            <td colspan="5" class="text-center">
              <em class="text-muted">
                No access key
              </em>
            </td>
          </tr>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="createdModal" tabindex="-1" role="dialog" aria-labelledby="createdModalLabel" aria-hidden="true" ref="createdModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="createdModalLabel">Create Access Key</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" v-if="createdKey">
                <p class="text-success">
                  <i class="fa fa-check"></i>
                  You access key (access key ID and secret access key) has been created successfully.
                </p>
                <p>
                The secret access key will be shown only once. You won't be able to retrieve it afterwards. <b>You should save it now!</b>
                </p>
                <dl>
                  <dt>Access Key ID</dt>
                  <dd>{{ createdKey.AccessKeyId }}</dd>
                  <dt>Secret Access Key</dt>
                  <dd>{{ createdKey.SecretAccessKey }}</dd>
                </dl>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { RDS } from 'aws-sdk';
import { IAM } from 'aws-sdk';
import { IAccessKey, IUser } from '@/interfaces';
import * as _ from 'lodash';

@Component
export default class AccessKeysList extends Vue {
  @Prop() private user!: IUser;

  private accessKeys: any[] = [];
  private createdKey: IAccessKey | null = null;

  private created() {
    this.fetchAccessKeys();
  }

  private mounted() {
    $(this.$refs.createdModal).on('hide.bs.modal', this.onCreatedModalHide);
  }

  private fetchAccessKeys() {
    const iam = new IAM();
    const config: {[key: string]: any} = {};
    if (this.user) {
      config.UserName = this.user.UserName;
    }
    iam.listAccessKeys(config, (err, data: any) => {
      if (err) {
        if (err.statusCode === 403) {
          this.$store.commit('logout');
          this.$router.push('/login');
        }
        this.$notify({
          title: 'Error',
          text: 'There was an error listing your access keys: ' + err.message,
          type: 'error',
        });
        return;
      } else {
        this.accessKeys = data.AccessKeyMetadata;
        _.each(this.accessKeys, (k) => {
          k._lastUsed = this.getAccessKeyLastUsed(k);
        });
      }
    });
  }

  private get canCreateAccessKey() {
    return this.accessKeys.length < 2;
  }

  private createAccessKey() {
    const iam = new IAM();
    const config: {[key: string]: any} = {};
    if (this.user) {
      config.UserName = this.user.UserName;
    }

    iam.createAccessKey(config, (err, data: any) => {
      if (err) {
        if (err.statusCode === 403) {
          this.$store.commit('logout');
          this.$router.push('/login');
        }
        this.$notify({
          title: 'Error',
          text: 'There was an error creating the access keys: ' + err.message,
          type: 'error',
        });
        return;
      } else {
        $(this.$refs.createdModal).modal('show');
        this.createdKey = data.AccessKey;
        this.fetchAccessKeys();
      }
    });
  }

  private updateAccessKey(key: string, status: string) {
    const iam = new IAM();
    const config: {AccessKeyId: string, Status: string, [key: string]: any} = {
      AccessKeyId: key,
      Status: status,
    };
    if (this.user) {
      config.UserName = this.user.UserName;
    }
    iam.updateAccessKey(config, (err, data: any) => {
      if (err) {
        if (err.statusCode === 403) {
          this.$store.commit('logout');
          this.$router.push('/login');
        }
        this.$notify({
          title: 'Error',
          text: 'There was an error updating the access keys: ' + err.message,
          type: 'error',
        });
        return;
      } else {
        this.fetchAccessKeys();
      }
    });
  }

  private deleteAccessKey(key: string) {
    const iam = new IAM();
    const config: {AccessKeyId: string, [key: string]: any} = {
      AccessKeyId: key,
    };
    if (this.user) {
      config.UserName = this.user.UserName;
    }
    iam.deleteAccessKey(config, (err, data: any) => {
      if (err) {
        if (err.statusCode === 403) {
          this.$store.commit('logout');
          this.$router.push('/login');
        }
        this.$notify({
          title: 'Error',
          text: 'There was an error deleting the access keys: ' + err.message,
          type: 'error',
        });
        return;
      } else {
        this.fetchAccessKeys();
      }
    });
  }

  private getAccessKeyLastUsed(key: any) {
    const iam = new IAM();
    iam.getAccessKeyLastUsed({
      AccessKeyId: key.AccessKeyId,
    }, (err, data: any) => {
      if (err) {
        key._lastUsed = 'N/A';
      } else {
        key._lastUsed = data.AccessKeyLastUsed.LastUsedDate;
      }
      this.$forceUpdate();
    });
  }

  private onCreatedModalHide() {
    this.createdKey = null;
  }
}
</script>
