<template>
  <div class="card">
    <div class="card-header">
      <div class="row form-inline">
        <div class="col-4">
          <b>
            {{ header }}
          </b>
        </div>
        <div class="form-check col-3 justify-content-end">
          <input class="form-check-input" type="checkbox" id="showAutomatedCheck" v-model="showAutomated">
          <label class="form-check-label" for="showAutomatedCheck">
            Show automated
          </label>
        </div>
        <div class="input-group col-5">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-search"></i>
            </div>
          </div>
          <input type="search" class="form-control" v-model="search">
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush" v-if="!loadingBackups">
      <li class="list-group-item" v-for="backup in filteredBackups">
        <div :class="'float-left mr-2 fa status-' + backup.Status" :title="backup.Status"></div>
        <div class="float-left">
          <div>
            <router-link :to="{ name: 'backup', params: { id: backup.DBSnapshotIdentifier }}" class="text-dark">
              <b>{{ backup.DBSnapshotIdentifier }}</b>
            </router-link>
            <span class="text-muted small border rounded px-1" v-if="backup.SnapshotType !== 'manual'">{{ backup.SnapshotType }}</span>
            <small v-if="backup.Status != 'available'">
              <em :class="'status-text status-' + backup.Status">
              {{ backup.Status }}
              </em>
            </small>
          </div>
          <div>
            <span v-if="!instance">
              <span class="text-muted">on</span>
              <router-link :to="{ name: 'instance', params: { id: backup.DBInstanceIdentifier }}" class="text-dark">{{ backup.DBInstanceIdentifier }}</router-link>
              <span class="text-muted">
                -
              </span>
            </span>
            <small class="text-muted" v-if="backup.SnapshotCreateTime">
              <timeago :datetime="backup.SnapshotCreateTime" :title="backup.SnapshotCreateTime.toString()"></timeago>
            </small>
          </div>
        </div>
      </li>
      <li class="list-group-item text-center" v-if="!filteredBackups.length">
        <span class="text-muted">
          No backup
        </span>
      </li>
      <li class="list-group-item text-center small" v-if="!showAutomated && automatedCount > 0">
        <a href @click.prevent="showAutomated = true">
          + {{ automatedCount }} automated backups
        </a>
      </li>
    </ul>
    <loading-ellipsis v-else></loading-ellipsis>
  </div>
</template>

<script lang="ts">
import { mapState } from 'vuex';
import { Component, Prop, PropSync, Vue, Watch } from 'vue-property-decorator';
import { IAccount } from '@/interfaces';
import { awsOnly } from '@/App.vue';
import LoadingEllipsis from '@/components/LoadingEllipsis.vue';
import { RDS } from 'aws-sdk';
import * as _ from 'lodash';

@Component({
  computed: {
    ...mapState(['currentAccount', 'loadingBackups']),
  },
})
export default class BackupsList extends Vue {
  @Prop() private header!: string;
  @Prop() private instance!: string;

  private currentAccount!: IAccount;
  private backups: any[] = [];
  private search: string = '';
  private showAutomated: boolean = false;
  private timer!: number;
  private loadingBackups!: boolean;

  private created() {
    this.update();
  }

  private update() {
    clearInterval(this.timer);
    if (this.currentAccount.AccountId === null && !awsOnly) {
      this.$router.push('/instances');
      return;
    }
    this.$store.dispatch('fetchBackups');
    this.timer = window.setInterval(this.update, 10000);
  }

  private beforeDestroy() {
    clearInterval(this.timer);
  }

  @Watch('$store.state.backups')
  private onBackupsChange() {
    // If this list is for an instance, then filter global backups list by
    // instance
    this.backups = _.filter(this.$store.state.backups, (s) => {
      return !this.instance || s.DBInstanceIdentifier === this.instance;
    });
  }

  private get filteredBackups() {
    return _.filter(this.backups, (s) => {
      if (!this.showAutomated && s.SnapshotType === 'automated') {
        return false;
      }
      return s.DBInstanceIdentifier.indexOf(this.search) !== -1 ||
             s.DBSnapshotIdentifier.indexOf(this.search) !== -1;
    });
  }

  private get automatedCount() {
    return _.countBy(this.backups, (s) => {
      return s.SnapshotType;
    }).automated;
  }
}
</script>
