<template>
    <a class="small"
       href
       title="Manage this instance in temBoard"
       @click.prevent="gotoTemboard()"
    >
      <i class="fa icon-logo_temboard"></i>
      temBoard
      <small>
        <i class="fa fa-external-link-alt"></i>
      </small>
    </a>
</template>

<script lang="ts">
import { mapState } from 'vuex';
import { Component, Prop, Vue } from 'vue-property-decorator';
import { IAccount, IInstance } from '@/interfaces';
import { cornacEndpoint } from '@/App.vue';

@Component({
  computed: {
    ...mapState(['currentAccount']),
  },
})
export default class TemboardButton extends Vue {
  @Prop() private instance!: IInstance;

  private currentAccount!: IAccount;

  private gotoTemboard() {
    window.open(
      cornacEndpoint + '/temboard/redirect/'
      + this.currentAccount.AccountId
      + '/' + this.instance.DBInstanceIdentifier,
      '_blank',
    );
  }
}
</script>
