@font-face {
  font-family: 'symbols';
  src:  url('fonts/symbols.eot?p3vpvc');
  src:  url('fonts/symbols.eot?p3vpvc#iefix') format('embedded-opentype'),
    url('fonts/symbols.ttf?p3vpvc') format('truetype'),
    url('fonts/symbols.woff?p3vpvc') format('woff'),
    url('fonts/symbols.svg?p3vpvc#symbols') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'symbols' !important;
  font-weight: normal;
  vertical-align: middle;
}

.icon-logo_temboard:before {
  content: "\e900";
  font-size: 1.2em;
}
