<template>
  <div id="app" class="h-100">
    <notifications position="top center" />
    <nav class="navbar navbar-expand-md navbar-dark bg-primary navbar-main mb-3" v-if="!$route.meta.hideNavigation">
      <router-link tag="a" class="navbar-brand" to="/">{{ endPoint }}</router-link>
      <ul class="navbar-nav pl-2" v-if="isAdmin && currentService">
        <li class="nav-item dropdown" v-if="!$route.meta.hideNavigation">
          <router-link
            tag="a"
            class="nav-link"
            :class="{active: currentService == 'Databases'}"
            to="/instances"
          >
            Databases
          </router-link>
        </li>
        <li class="nav-item dropdown" v-if="!$route.meta.hideNavigation">
          <router-link
            tag="a"
            class="nav-link"
            :class="{active: currentService == 'Administration'}"
            to="/users"
          >
            Administration
          </router-link>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" v-if="hasTemboard">
          <a class="nav-link" href @click.prevent="gotoTemboard" title="Manage instances in temBoard">
            <i class="fa fa-fw icon-logo_temboard"></i>
            temBoard
            <small>
              <i class="fa fa-external-link-alt"></i>
            </small>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" v-if="!$route.meta.hideNavigation">
          <a class="nav-link dropdown-toggle" href="#"
             id="userDropdownLink"
             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownLink">
            <router-link tag="a" class="dropdown-item" to="/profile">My profile</router-link>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href v-on:click.prevent="logout">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col">
          <router-view name="heading"></router-view>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2" v-if="hasMenu">
          <router-view name="menu"></router-view>
        </div>
        <div class="col">
          <router-view/>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import 'bootstrap';
import { Component, Vue, Watch } from 'vue-property-decorator';
import { mapGetters, mapState } from 'vuex';
import { config, Config, RDS, STS } from 'aws-sdk';
import { ServiceConfigurationOptions } from 'aws-sdk/lib/service';

import '@fortawesome/fontawesome-free/css/all.css';

import Notifications from 'vue-notification';

Vue.use(Notifications);

declare global {
  interface Window {
    endpoint: string;
    awsOnly: boolean;
    temboard: string;
  }
}

const region = 'eu-west-2';

config.update({region});

// If endpoint is available as global variable use it
// Use environment variable instead
// Will fallback to default rds endpoint if none is provided
const endpoint = window.endpoint || process.env.VUE_APP_ENDPOINT;
if (endpoint) {
  config.rds = {endpoint: endpoint + 'rds/'};
  config.iam = {endpoint: endpoint + 'iam/'};
  config.sts = {endpoint: endpoint + 'sts/'};
}
export const awsOnly = !endpoint;

const rdsConfigOptions: ServiceConfigurationOptions = {
  region,
  endpoint: config.rds ? config.rds.endpoint : undefined,
};

export const rdsConfig = new Config(rdsConfigOptions);

export const cornacEndpoint = awsOnly ? null : endpoint + 'cornac';

export const temboard = window.temboard || process.env.VUE_APP_TEMBOARD;

const service = new RDS(rdsConfig);

@Component({
  computed: {
    ...mapGetters(['isAdmin']),
    ...mapState(['username']),
  },
})
export default class App extends Vue {
  private awsOnly: boolean = awsOnly;
  private currentService: string = '';

  private logout() {
    this.$store.commit('logout');
    this.$router.push('/login');
  }

  private get endPoint() {
    let r: string = service.endpoint.hostname;
    const port: number = service.endpoint.port;
    if (port !== 80 && port !== 443) {
      r += ':' + port;
    }
    return r;
  }

  @Watch('$route')
  private onRouteChange() {
    const route = this.$router.currentRoute;
    const matched = route.matched.find((r) => r.meta.service);
    this.currentService = matched ? matched.meta.service : '';
  }

  private get hasMenu() {
    return this.$route.matched[0] &&
      this.$route.matched[0].components &&
      this.$route.matched[0].components.menu;
  }

  private get hasTemboard() {
    return temboard !== undefined;
  }

  private gotoTemboard() {
    window.open(temboard, '_blank');
  }
}
</script>

<style lang="scss">
$primary: darken(#336791, 5);
@import "~bootstrap/scss/bootstrap";
@import "assets/style.css";

.bd-sidenav.nav > li {
  &.active > a {
    font-weight: 600;
    color: $gray-800;
  }
  & > a {
    color: $gray-600;

    &:hover {
      color: $gray-800;
      text-decoration: none;
    }
  }
}

.status-text {
  color: $gray-600;
  &::before {
    content: "" !important;
  }
}


// Status classes should be used in combination with .fa
.status {
  &::before {
    content: " ";
    display: inline-block;
    width: 1em;
  }
  line-height: inherit;
}

// DB Instance Status
// See https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.DBInstance.Status.html
.status-available {
  color: $success;

  &::before {
    content: "\f058";
  }
}

.status-failed,
.status-restore-error {
  color: $danger;
}

.status-failed,
.status-restore-error {
  &::before {
    content: "\f057";
  }
}
.status-stopped {
  &::before {
    content: "\f28b";
  }
}
.status-starting,
.status-stopping,
.status-creating,
.status-backing-up,
.status-rebooting {
  color: $gray-600;
}

.status-deleting {
  color: $danger;
}

.status-starting,
.status-stopping,
.status-creating,
.status-backing-up,
.status-rebooting,
.status-deleting {
  &::before {
    content: "\f252";
  }
}

.fade-enter-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

</style>
